/* .progress:nth-child(1) {
  background-color: transparent !important;
  border-radius: none !important;
  height: 15px !important;
  position: relative;
}
.progress-bar {
  border-radius: 3.5px;
  margin-right: 5px;
}
.css-i267gc,
[data-css-i267gc] {
  height: 14px !important;
}
.css-1cbkgkt,
[data-css-1cbkgkt] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}
.css-98oa15,
[data-css-98oa15] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}

.css-1j9xbxk,
[data-css-1j9xbxk] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}
.css-194ygna,
[data-css-194ygna] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}

.css-iieswd,
[data-css-iieswd] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}
.css-13eyjqs,
[data-css-13eyjqs],
.css-tfgq3k,
[data-css-tfgq3k],
.css-1p5cme0,
[data-css-1p5cme0],
.css-us0nsm,
[data-css-us0nsm],
.css-fj6tr1,
[data-css-fj6tr1] {
  width: 37px !important;
  height: 14px !important;
  margin-right: 4px !important;
  border-radius: 2px !important;
}
.css-tfgq3k,
[data-css-tfgq3k] {
  left: 41px !important;
}
.css-1p5cme0,
[data-css-1p5cme0] {
  left: 80% !important;
}
.css-fj6tr1,
[data-css-fj6tr1] {
  left: 82px !important;
}
.css-us0nsm,
[data-css-us0nsm] {
  left: 60% !important;
} */
